<div class="container">
    <h2>Edit job</h2>

    <%= simple_form_for(@job) do |f| %>
      <%= f.input :title %>
      <br>
      <%= f.input :description %>
      <br>
      <%= f.input :start_time %>
      <br>
      <%= f.input :end_time %>
      <br>
      <%= f.button :submit, class: "btn-primary" %>
    <% end %>
    <br>
    <%= link_to "Back", jobs_path, :class => "btn btn-secondary" %> | 
    <%= link_to "Edit", edit_job_path, :class => "btn btn-warning" %> |
    <%= link_to "Delete", @job, method: :delete, data: {confirm: "Are you sure!?"}, :class => "btn btn-danger" %>
</div>