<div class="container py-3">
    <div class="row">
        <div class="col-lg-12">
            <div class="main-box clearfix">
                <h1 class="alert alert-primary text-center">All users Access</h1>
                <div class="table-responsive">
                    <table class="table user-list">
                        <thead>
                            <% @users.order("created_at ASC").each do |user| %>
                            <tr>
                                <th class="text-center"><span>User id: <%= user.id %></span></th>
                                <th class="text-center"><span>Created</span></th>
                                <th class="text-center"><span>First name</span></th>
                                <th class="text-center"><span>Last name</span></th>
                                <th class="text-center"><span>Email</span></th>
                                <th class="text-center"><span>Aproved ?</span></th>
                                <th class="text-center"><span>Action</span></th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>
                                    <%= image_tag "female-nurse.png", alt: "cartoon nurse image", width: 100 %>
                                </td>
                                <td class="text-center">
                                    <%= user.created_at.strftime("%B %d, %Y") %>
                                </td>
                                <td class="text-center">
                                    <span class="label label-default"><%= user.first_name %></span>
                                </td>
                                <td class="text-center">
                                    <span class="label label-default"><%= user.last_name %></span>
                                </td>
                                <td class="text-center">
                                    <%= link_to user.email, user_path(user) %>
                                </td>
                                <td class="text-center">
                                    <%= bool_to_word(user.approved) %>
                                </td>
                                <td class="text-center">
                                    <%= link_to "Delete", user_path(user), method: :delete, data: { confirm: "Really delete this user?" }, class: "btn btn-outline-danger" %>
                                </td>
                            </tr>
                            <% end %>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
    </div>