<div class="container text-center py-5">
    <div class="col-md-6 col-lg-12">
        <div class="card hover-shadow">
            <div class="card-body text-center pt-1 pb-20">
            <a href="#">
                <%= image_tag "female-nurse.png", alt: "cartoon nurse image", width: 300 %>
            </a>
            <h5 class="mt-2 mb-0"><a class="hover-primary" href="#"><%= @user.full_name %></a></h5>
            <div class="mt-20">
                <h2>Bio</h2>
                <p><%= @user.bio %></p>
            </div>
            </div>
          <footer class="card-footer flexbox text-center">
            <div>
                <% if current_user.id || @user.admin? == @user.id || @user.admin? %>
                    <%= link_to edit_user_path(current_user), class: "btn btn-primary" do %>               
                    <div class="fa-solid fa-id-card"></div>
                        Profile
                    <% end %> 
                    |
                    <%= link_to calendar_user_path(current_user), class: "btn btn-success" do %>
                        <i class="fa-solid fa-calendar-days"></i>
                        Calendar
                    <% end %>
                <% end %>
            </div>
          </footer>
        </div>
        <%= link_to new_user_message_path(@user), class: "btn btn-outline-success my-5" do %>
            <i class="fa-solid fa-message"></i>
                Message
        <% end %> 
                <hr>
        </div>
</div>

<div class="container">
    <h2>Message</h2>
    <p></p>
    <ul class="list-group">
        <% @user.messages.order("created_at DESC").each do |message| %>
            <li class="list-group-item">
                <h3><%= message.title %></h3><br>
                <i><%= message.created_at.strftime("%Y-%m-%d") %></i>
                <p><%= message.body %></p><br>
                <% if message.document.attached? %>
                    <%=  link_to message.document.key %>
                <% end %>
                <%= link_to "Delete", user_message_path(message), method: :delete, data: {confirm: "Are you sure!?"}, class: "btn btn-outline-danger" %>
            </li>
        <% end %>
    </ul>
</div>

