<div class="container register">
  <div class="row">
    <div class="col-md-3 register-left">
      <img src="https://image.ibb.co/n7oTvU/logo_white.png" alt=""/>
      <h3>Welcome</h3>  
    </div>
    <div class="col-md-9 register-right">
      <div class="tab-content" id="myTabContent">
        <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">
          <h3 class="register-heading">Log in</h3>
          <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
          <div class="row register-form">
                    <%= image_tag "jiskobou.png", alt: "Jiskobou logo", width: 300 %>
                      <div class="col-md-6">
                          <div class="form-group">
                            <div class="field">
                              <%= f.label :email %><br />
                              <%= f.email_field :email, autofocus: true, autocomplete: "email", class:"form-control" %>
                            </div>
                          </div>
                          <div class="form-group">
                            <div class="field">
                              <%= f.label :password %><br />
                              <%= f.password_field :password, autocomplete: "current-password", class:"form-control" %>
                            </div>
                          </div>
                          <div class="form-group">
                            <% if devise_mapping.rememberable? %>
                            <div class="field">
                              <%= f.check_box :remember_me %>
                              <%= f.label :remember_me %>
                            </div>
                            <% end %>
                          </div>
                      </div>
                      <div class="col-md-6">
                        <div class="actions">
                          <%= f.submit "Log in", class:"btn btn-primary" %>
                        </div>
                            <% end %>
                      </div>
                    </div>
                  </div>
              </div>
          </div>
      </div>
  </div>