<!DOCTYPE html>
<html>
  <head>
    <title>WebServiceJiskobou</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <% if current_user %>
      <%= render "components/navbar" %>
      <%= render "components/banner" %>
    <% end %>
    <%= render "components/alerts" %>
    <% if signed_in? %>
      
    <% else %>
      <li class="green">
    <% end %>
    <%= yield %>
    <% if current_user %>
      <%= render "components/footer" %>
    <% end %>
  </body>
</html>
